{% extends 'base.html'%}
{% block content %}
<h1>{{ review.Track }}</h1>
<p>{{ review.Review }}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' pk=review.id %}">Edit review</a></p>
<p><a href="{% url 'review_delete' pk=review.id %}">Delete review</a></p>
{% endif %}
{% if replies.count > 0 %}
<h3>{{ replies.count }} Reply{{ replies.count|pluralize }}:</h3>
{% endif %}
{% for reply in replies %}
<div class="panel">
  <p>{{ reply.text }}</p>
  {% if reply.user == user %}
  <p><a href="{% url 'reply_update' review_pk=review.id reply_pk=reply.id %}">Edit reply</a></p>
  <p><a href="{% url 'reply_delete' review_pk=review.id reply_pk=reply.id %}">Delete reply</a></p>
  {% endif %}
  <p>{{reply.user.username }} Replied</p>
</div>
{% endfor %}
<p><a href="{% url 'reply_create' pk=review.id %}">Reply here</a></p>
{% endblock %}
